<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>customer list</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../../lib/angular/angular.js"></script>
        <script src="customer.controller.js"></script>
        <script src="customer.service.js"></script>
    </head>
   <body ng-app="myApp">
        <div ng-controller="customerController">
             <label>customerId</label><input ng-model='cusId'/><button ng-click='find()'>find</button><br/>
            <table>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                </tr>  
                <tr ng-repeat="cus in customers">
                    <td>{{cus.FirstName}}</td>
                    <td>{{cus.LastName}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
