<!DOCTYPE html>

<head>
    <title>angular data binding</title>
    <script src="../../lib/angular/angular.js"></script>
    <script src="todo.controller.js"></script>
</head>

<body>
   <div ng-app="todoApp" ng-controller="todoController">
    <form >
        <input ng-model="title"><button ng-click="add()" type="button" >Add</button>
    </form>
    <ul>
        <li ng-repeat="t in tasks track by $index">{{ t }}----{{$index}} <button ng-click="delete()">x</button></li>
    </ul>
</div>
</body>

</html>
