<!DOCTYPE html>

<head>
    <title>angular data binding</title>
    <script src="../../../lib/angular/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="myApp">
    <div  style="margin-top:100px;" ng-controller="simpleCtrl as vm">
        <ul>
            <li ng-repeat="std in vm.students">
                name:{{std.name}}
                -studentId:{{std.studentId}}
                -$index:{{$index}}-$even:{{$even}}-$odd:{{$odd}}
                <a href="" ng-click="vm.delete($index)">Delte</a>
            </li>
        </ul>
    </div>
    <div  style="margin-top:100px;" ng-controller="mainCtrl as vm">
        <ul>
            <li ng-repeat="thing in vm.things" ng-init="parentIndex = $index">
                {{ $index}}
                <ul>
                    <li ng-repeat="value in thing.values">
                        {{ value}} 
                        {{ $index}} <!-- inner $index -->
                        {{ $parent.$index}} <!-- parent $index -->
                        {{ parentIndex}} <!-- also parent $index -->
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>
